<!DOCTYPE html>
<html>

<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="author" content="huliqun">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/css/animate.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/css/style.min.css" rel="stylesheet" />
  	<link href="/static/dependencies/assets/css/style-responsive.min.css" rel="stylesheet" />
  	<link rel="stylesheet" id="theme"/>
    <link rel="shortcut icon" id="favicon"/>
  	<!-- ================== END BASE CSS STYLE ================== -->

  	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="/static/dependencies/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="/static/dependencies/assets/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <!--[if lte IE 7]><script src="assets/plugins/simple-line-icons/icons-lte-ie7.js"></script><![endif]-->
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <link href="/static/dependencies/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet"
          type="text/css">
    <link href="/static/dependencies/loading/src/loading.css" rel="stylesheet" type="text/css">

</head>
<body>
<div id="app"></div>
<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/dependencies/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="/static/dependencies/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/static/dependencies/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
  <script src="/static/dependencies/assets/crossbrowserjs/html5shiv.js"></script>
  <script src="/static/dependencies/assets/crossbrowserjs/respond.min.js"></script>
  <script src="/static/dependencies/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="/static/dependencies/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/dependencies/assets/plugins/select2/dist/js/select2.full.min.js"></script>
<script src="/static/dependencies/assets/plugins/select2/dist/js/i18n/zh-CN.js"></script>
<script src="/static/dependencies/assets/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script src="/static/dependencies/assets/js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script src="/static/dependencies/distpicker/dist/distpicker.js"></script>
<script src="/static/dependencies/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
<script src="/static/dependencies/loading/src/loading.js"></script>
</body>
</html>
